@charset "utf-8";
/* CSS Document */

.btn-purple {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	position: relative ; 
	width: 150px; 
	height: 40px; 
	margin: 30px 1px ;  
} 
 
a{ 
	font-size: 16px;
	position: relative ; 
	width: 150px; 
	height: 40px; 
	margin: 35px 1px ;  
}