<style>  
/* use a personalized font via @font-face */
@font-face{  
   font-family:Arial; 
   
  } 
/* include a background image to the page */
body {   
    background-image:url("./Pixture.jpg"); 
    background-repeat:no-repeat; 
    background-position:center;  
    background-attachment: fixed; 
    background-size: cover
  }     
li  { 
    color:white;    /* change the color of a text element */ 
    font-weight:bold;
    font-style:italic;
    text-align:center;   
} 
p   {   
    color:white;   /* change the color of a text element */   
    font-weight:bold;
    font-style:italic;
    text-align:center;  /* change the alignment of a  title */
  }     
h1  { 
    color:white;    /* change the color of a text element */   
    font-family:myFirstFont;
    font-weight:bold;
    font-style:italic;
    text-align:center;  /* change the alignment of a paragraph */
    text-shadow:2px 2px blue;  
} 
h2  { 
    color:white;    /* change the color of a text element */ 
    background-color:powderblue;
    font-weight:bold;
    font-style:italic;
    text-align:center;  
    text-shadow:2px 2px blue;  
}    
h4  { 
    color:white;    /* change the color of a text element */ 
    font-weight:bold;
    font-style:italic;
    text-align:center;   
}  
 /* add borders and shadows to an element */ 
img { 
    display:block; 
    margin-left:auto; 
    margin-right:auto; 
    width:20%; 
    height:20%; 
    border-radius:25px;  
    border-style: dotted; 
    border-color: mediumvioletred;
    box-shadow:10px 10px 5px grey;
  }  
ul {
  list-style-position: inside;
} 
ol {
  list-style-position: inside;
}
</style>